/.idea
/StarEstateManagement/__pycache__
/StarEstateManagement/.idea
/StarEstateManagement/data.csv
/StarEstateManagement/db.sqlite3
/StarEstateManagement/star_web/index.html
/StarEstateManagement/star_web/package.json
/StarEstateManagement/star_web/package-lock.json
/StarEstateManagement/star_web/README.md
/StarEstateManagement/star_web/src
/StarEstateManagement/star_web/static
/StarEstateManagement/star_web/.babelrc
/StarEstateManagement/star_web/.editorconfig
/StarEstateManagement/star_web/.gitignore
/StarEstateManagement/star_web/.postcssrc.js
/StarEstateManagement/star_web/dist.tar
/StarEstateManagement/star_web/build
/StarEstateManagement/star_web/config
/StarEstateManagement/star_web/node_modules
